* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 2fr 2fr 1fr;
    background: white;
}

h2 {
    color: royalblue;
}

h3 {
    color: black;
}

h4 {
    color: gray;
}

nav {
    margin: 10px;
    height: 630px;
    width: 320px;
    background: white;
    border-radius: 20px;
    border: 2px;
}

nav img {
    width: 320px;
    height: 210px;
}
