div {
  height: 1000px;
  width: 1600px;
}

.center {
  margin: 0 auto;
}

#background {
  height: 725px;
  background-color: #00ddff
}

#hero-msg h1 {
  text-align: center;
}

#hero-msg h2 {
  text-align: center;
}

#hero-msg h3 {
  text-align: center;
}

#hero-msg h4 {
  text-align: center;
}

#hero-msg h5 {
  text-align: center;
}

#hero-msg h6 {
  text-align: center;
}

#hero-msg h7 {
  text-align: center;
}

#hero-msg h8 {
  text-align: center;
}

#hero-msg h9 {
  text-align: center;
}