#hero-img {
    width: 100%
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 100px
}

body {
    background-color: #f8e5ee;
    font-family: 'Source Sans pro';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}

nav {
    background-color: #7b0d1e;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }

  nav  {
    list-style-type: none;
    display: flex;
  
  }
  
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }

  nav a:link, nav a:visited {
    color: white;
  }

  nav a:hover {
    color: white;
    background-color: #9f2042;
}


#hero-msg h1 {
    text-align: center;
    color: white; 
    font-family: 'Playfair Display';
    font-size: 100px;
}

#hero-msg h4 {
    text-align: center;
    color: white; 
    font-family: 'Playfair Display';
    font-size: 100px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 100px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.home-grid {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    display: center;
    grid-template-columns: 1fr 3fr 1fr; 
  }
   
  .column {
    display: flex;
    flex-direction: row;
    gap: 100px; 
  }
   
  .jjk-card, .nar-card, .op-card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 350px; 
  }

  .card-img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    border: 15px solid #7b0d1e;
  }
  
  .jjk-card h2, .nar-card h2, .op-card h2 {
    text-align: center;
    margin-top: 10px; 
  }
 /* Footer */
footer {
  background-color: #7b0d1e;
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  background-color: #9f2042
}

/* Social media icons */
.social a {
  margin: 0 10px;
  display: inline-block;
}

.social img {
  width: 30px;
  height: auto;
}